# --- APP ---
PORT=4000

# --- DATABASE ---
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=pocket-mini
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=pocket-mini

# --- SECURITY ---
JWT_SECRET=YOUR_SECRET_KEY

# --- AI ---
OPENROUTER_API_KEY=YOUR_OPENROUTER_KEY
GEMINI_API_KEY=YOUR_GEMINI_KEY
